<div class="heading">
    <h1 class="main">Lost And Found Website</h1>
    <br>
    <h2>( Web To Help Lost And Found Items )</h2>
</div>
<nav>

    <div class="links">
    <a href="/" >HOME</a>
    <a href="/login" >LOGIN</a>
    <a href="/signup" >SIGNUP</a>

  </div>
</nav>