<div class="heading">
    <h1 class="main">Lost And Found Website</h1>
    <br>
    <h2>( Web To Help Lost And Found Items )</h2>
</div>
<nav>

    <div class="links">
    <a href="/userDashboard">DASHBOARD</a>
    <a href="/search">SEARCH ITEM</a>

    <a href="/insert " >INSERT ITEM</a>
    <a href="/delete"  >DELETE POSTS</a>
    <a href="/update"   >UPDATE DATA</a>
    <a href="/logout"  >LOGOUT</a>

  </div>
</nav>