<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>

</head>
<body>
    <!-- adding navbar -->
    <header>      
        <%- include('./partials/navbar.ejs')%>
     </header>

    <main>
        <div class="main-box">
            <div class="text">
                <h1>Lost And Found Web System</h1><br>
                <h2>The best platform which would help the end user 
                    to search and view the lost items and upload the found 
                    items
                    <br><br></h2>
                <div class="flexibaleText"><h2>Here you can<br><span class="typing"></span></div>
                </h2>
            </div>
            <div class="image">

                <figure class="figure-tag">
                    <img src="./images/lostItem.jpg" alt="lost image">
                    <figcaption><b>Lost And Found  <br>Web System</b> </figcaption>
                </figure>

            </div>
        </div>
    </main>


    <!-- typeScript link for flexible text animation -->
    <script src="./js/typeScriptFile.js"></script>
    <div>

    </div>
</body>

</html>