<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/login.css">
    

    <title>Document</title>
</head>
<body>

 <!-- adding navbar -->
 <header>      
    <%- include('./partials/navbar.ejs')%>
 </header>

    <main>

        <!-- message will be shown to user when he signed up successfully -->
        <% if(typeof success != 'undefined' ) {%>
            <div class="success">
                <h2><%=success%></h2>
            </div>

       <% } %>


       <!-- login container -->
        <div class="container">
            <div class="left">
                <img src="./images/login.jpg" alt="">
            </div>
            <div class="right">
               
                <div class="lower">
 
                        <div class="text">
                            <h2>Login</h2>
                            <% if(typeof error != 'undefined') {%>
                                <p><%=error%></p>
                             <% } %>
                        </div>

                        <div class="loginForm">
                             <form action="/login" method="POST">
                                <input type="text" placeholder="Email address or username" name="email" value="<%= typeof email != 'undefined' ? email : '' %>"><br>
                                <input type="password" placeholder="Password" name="password"><br>
                                <input type="submit">
                            </form>
                        </div>

                        <div class="signupLink">
                            <p> Do you Have Account?  <a href="/signup">Signup Here</a></p>
                        </div>

                    </div>
                </div>
                
            </div>
          
    </main>
   



</body>
</html>